.horizspace {
    overflow-x: scroll;
    width: auto;
    white-space: nowrap;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.b1 {
    display: inline-block;
    position: relative;
    margin: 1%;
    width: 23%;
    height: 80vh;
    border: 4px solid black; 
    background-color: white;
}

.b2 {
    display: inline-block;
    position: relative;
    margin: 1%;
    width: 23%;
    height: 80vh;
    border: 4px solid red; 
    background-color: white;
}

.b3 {
    display: inline-block;
    position: relative;
    margin: 1%;
    width: 23%;
    height: 80vh;
    border: 4px solid purple; 
    background-color: white;
}

.b4 {
    display: inline-block;
    position: relative;
    margin: 1%;
    width: 23%;
    height: 80vh;
    border: 4px solid blue; 
    background-color: white;
}

.b5 {
    display: inline-block;
    position: relative;
    margin: 1%;
    width: 23%;
    height: 80vh;
    border: 4px solid green; 
    background-color: white;
}